<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.94.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
    </DbProviderFactories>
  </system.data>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="raiz" value="C:\GeradorQuestionario\Questionarios"/>
    <add key="localbanco" value="C:\GeradorQuestionario\Banco"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    
    <add name="QuestEntities" connectionString="metadata=res://*/Persistencia.ModeloQuestionario.csdl|res://*/Persistencia.ModeloQuestionario.ssdl|res://*/Persistencia.ModeloQuestionario.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\GeradorQuestionario\Banco\DBQUEST&quot;" providerName="System.Data.EntityClient"/>
 
    <add name="BancoExportar" connectionString="metadata=res://*/Persistencia.ModeloQuestionario.csdl|res://*/Persistencia.ModeloQuestionario.ssdl|res://*/Persistencia.ModeloQuestionario.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=#PARAMETRO#&quot;" providerName="System.Data.EntityClient"/>

       
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
